body{
    margin: 0px;
}
.nav{
    background-color:#085A04;

display: flex;
    justify-content: center;
   height: 80px;
   
}
.a{
 padding: 20px;
 text-decoration: none; 
 color: whitesmoke;
margin: 0px;

}
.a:hover{
      background-color:#149e10;
}
tr{
    height: 200px;
}
